---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout
  title="Acerca de",
  description="Javascript is weird"
>
  <div class="[&>*]:text-base/7 [&>p]:mb-5">

    <h2 class="my-3">Bienvenido a Javascript is weird</h2>

    <p class="!mb-3">La idea para hacer este blog la tomé de <a href="https://jsisweird.com/" target='_blank' rel='noreferrer'>jsisweird</a>, una prueba de 25 expresiones extravagantes de Javascript.</p>

    <p>Este blog está dedicado a explorar las curiosidades, peculiaridades y rarezas del lenguaje de programación JavaScript. Si eres un desarrollador experimentado, un entusiasta del código o alguien que recién comienza su aventura en el mundo de la programación, aquí encontrarás una colección de artículos y ejemplos que te sorprenderán y, a veces, te dejarán rascándote la cabeza.</p>

    <h3>¿Por Qué JavaScript?</h3>

    <p>JavaScript es uno de los lenguajes de programación más populares y versátiles del mundo. Se utiliza en una gran variedad de aplicaciones, desde el desarrollo web hasta la creación de aplicaciones móviles y juegos. Sin embargo, como cualquier lenguaje, tiene sus propias rarezas y comportamientos inesperados que pueden ser tanto fascinantes como frustrantes.</p>
  
    <h3>¿Qué Encontrarás Aquí?</h3>

    <ul class="[&>li>em]:font-semibold">
      <li><em>Artículos</em>: Descripción breve de los comportamientos inusuales de JavaScript, desde la coerción de tipos hasta los cierres (closures) y el manejo de promesas.</li>
      <li><em>Ejemplos Prácticos</em>: Código ilustrativo que muestra las rarezas en acción.</li>
    </ul>

  </div>
</BaseLayout>