---

---
<footer class='flex justify-end p-2 [&_*]:text-zinc-800 mt-20'>
  <p>
    <span>Desarrollado por </span>
    <a class='hover:underline hover:text-zinc-800' href='https://github.com/JosenRomero' target='_blank' rel='noreferrer'>José Romero</a>
  </p>
</footer>